
.title{
    font:var(--font-l);
    color:var(--primary-color);
}

.text{
    font:var(--font-m);
    color:var(--secondary-color)
}

.primary{
    // will change
    .title{
        color:var(--primary-color);
    }

    .text{
        color:var(--primary-color);
    }
}

.error{
    .title{
        color:var(--red-light);
    }

    .text{
        color:var(--red-dark);
    }
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;

}