.navbar{
    width:100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}


.mainLink{
    margin-right: 15px;
}