.ProfilePageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ProfileText{
    margin-left: 10px;
}

.editBtn{
    margin-left: auto;
    margin-right: 10px;
}

.features{
    display: flex;

}