.ProfileCard{
    padding:20px;
    border:2px solid var(--inverted-bg-color);
}

.data{
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 10px;
} 




.error,
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar{
    width: 100px;
}

.AvatarWrapper{
    display: flex;
    justify-content: center;
}
