.AppLink{
    color:var(--primary-color);

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.primary{
    color:var(--primary-color);
}

.secondary{
    color:var(--inverted-primary-color)
}